.uppercase {
    text-transform: uppercase;
    font-weight: 600;
}

.link {
    text-decoration: none;
}

header {
    margin-bottom: 20px;
}

.nav-header {
    opacity: 75%
}

.nav-header:hover {
    opacity: 100%
}

.nav-link:hover {
    background-color: #8d8d8d;
    color: #fff;
}